@media (max-width: 1220px) {
  .wrapper {
    width: 100%;
  }
  .logo img {
    width: 120px;
    height: auto;
  }
  .header__phone {
    font-size: 24px;
  }
  .header__call {
    width: 200px;
  }
  .promo__slide {
    font-size: 30px;
  }
  .promo__title {
    font-size: 48px;
  }
  .title {
    font-size: 36px;
  }
  .promo__slider img {
    height: 100%;
    width: auto;
    max-width: none;
  }
  .number__info strong {
    font-size: 24px;
  }
  .gallery__item {
    height: 188px;
  }
  .additional__item {
    width: 49%;
  }
  .map__block {
    left: 20px;
    width: 450px;
  }
  .map__call {
    position: static;
  }
  .footer {
    padding-bottom: 15px;
  }
}

//----------------------------------
@media (max-width: 1022px) {
  .menu__btn {
    width: 100px;
    height: 30px;
    display: block;
    padding-left: 35px;
    color: #fff;
    background-image: url(../img/icon-menu-ham.svg);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px 19px;
  }
  .menu--opened {
    .menu__btn {
      background-image: url(../img/icon-menu-cross.svg);
      background-size: 24px 24px;
    }
  }
  .menu__list {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .menu__item {
    a {
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;
      border-bottom: 1px solid #fff;
    }
    
    &:first-child a {
      border-top: 1px solid #fff;
    }
    
    &::after {
      display: none;
    }
  }
  .number__info {
    width: 40%;
    padding-left: 0;
    padding-right: 20px;
  }
  .number__img {
    width: 60%;
    height: 300px;
  }
  .about__wrap {
    display: block;
  }
  .service__block,
  .about__img,
  .about__info {
    width: 100%;
  }
  .about__img {
    margin-bottom: 20px;
  }
  .service__item {
    width: 50%;
  }
  .gallery__item {
    height: 140px;
  }
  .additional__img {
    height: 250px;
  }
  .map__block {
    width: 100%;
    position: static;
  }
  .map iframe {
    height: 400px;
  }
  .footer__wrap {
    flex-wrap: wrap;
  }
}

//----------------------------------
@media (max-width: 766px) {
  .menu__list {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: rgba(0,0,0,0.9);
  }
  .promo__slide {
    font-size: 20px;
  }
  .title,
  .promo__title {
    font-size: 30px;
  }
  .promo__slider {
    height: 450px;
  }
  .promo__info {
    top: 180px;
  }
  .promo__btn {
    margin-top: 30px;
  }
  .number__wrap {
    display: block;
  }
  .number__img,
  .number__info {
    width: 100%;
  }
  .number__slider {
    margin-left: auto;
    margin-right: auto;
  }
  .gallery__item {
    width: 50%;
    height: 160px;
  }
}

//------------------------------
@media (max-width: 480px) {
  .header__wrap {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .menu__btn {
    width: 30px;
    font-size: 0;
    padding-left: 0;
  }
  .header__block {
    padding-top: 10px;
    margin-left: 50px;
    margin-right: 50px;
  }
  .header__wrap .logo {
    padding-top: 5px;
  }
  .promo__slider {
    height: 100vh;
  }
  .promo__info {
    top: 280px;
  }
  .promo__btn {
    width: 100%;
    margin-top: 50px;
  }
  .number__img {
    height: 170px;
    margin-top: 15px;
    overflow: hidden;
  }
  .number__info strong {
    font-size: 20px;
  }
  .map__call,
  .additional__item,
  .service__item {
    width: 100%;
  }
  .additional__list {
    display: block;
  }
  
}
